@use "../../assets/sass/_variables.scss" as *;

.SearchBox__input {
  margin-top: 3%;
  padding: 10px;
  width: 250px;
  height: 50px;
  border: 5px solid $primary-color;
  font-size: 30px;
}

@media screen and (min-width: 961px) {
  .SearchBox__input {
    margin-top: 10%;
  }
}
