.Beer__Card {
  border: 5px solid black;
  border-radius: 20px;
  padding: 5vh 5vh; 
  height: 40vh;
  margin: 20px 10px;
  justify-content: center;
  display: flex;
  white-space: nowrap;
}

.CardList {
  width: 90vw;
  flex: 1;
  display: flex;
  overflow-x: auto;
  align-items: center;
  margin: 0px;
  margin-top: 8vh;
}

@media screen and (min-width: 700px) {
  .Beer__Card {
    margin-top: 50px;
    height: 420px;
    white-space: pre-wrap;
  }

  .CardList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 25vw;
    margin-top: 15vh;
  }
}
