.Beer__Card {
  border: 5px solid black;
  border-radius: 20px;
  padding: 5vh 10vh; 
  height: 52vh;
  margin: 20px 10px;
  justify-content: center;
  display: flex;
}

.CardList {
  width: 90vw;
  flex: 1;
  display: flex;
  overflow-x: auto;
  align-items: center;
  margin: 0 20px;
}

@media screen and (min-width: 700px) {
  .Beer__Card {
    margin-top: 50px;
    height: 400px;
  }

  .CardList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 25vw;
    margin-top: 15vh;
  }
}
