.NavBar {
  background-color: purple;
  width: 100vw;
  height: 10vh;
  border-bottom: 5px solid black;
  padding: 5% 0;
  position: fixed;
}

.NavBar__checkboxes {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

@media screen and (min-width: 700px) {
  .NavBar {
    height: 100vh;
    width: 350px;
    border-bottom: none;
    border-right: 5px solid black;
    padding: 0;
  }
}
