@use "./assets/sass/_variables.scss" as *;
@use "./assets/sass/_typography.scss" as *;

.App_name {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: purple;
  justify-content: center;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0px;
  width: 100vw;
}

.App_main {
  text-align: center;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 700px) {
  .App_name {
    height: 150px;
    left: 130px
  }

  .App_main {
    flex-direction: row;
  }
}
