@use "./assets/sass/_variables.scss" as *;
@use "./assets/sass/_typography.scss" as *;

.App_name {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: purple;
  justify-content: center;
  height: 70px;
}

.App_main {
  text-align: center;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 700px) {
  .App_main {
    flex-direction: row;
  }
}